td {
  width: 100px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
}

table {
  padding-top: 10px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px 5px;
  font-size: 1.5em;
}

#container {
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  text-align: center;
  color: black;
  background-color: blue;
}

#game {
  background-color: black;
  padding: 50px;
}