td {
  width: 100px;
  height: 50px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px 5px;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

#container {
  padding: 50px;
  margin: auto;
  margin-top: 0px;
  width: 70%;
  text-align: center;
  color: white;
}

#game {
  background-color: white;
  padding: 10px;
  width: 500px;
  margin: auto;
  margin-top: 5%;
}

h1 {
  margin: 0px;
  font-family: 'Lobster', cursive;
  font-size: 2.7em;
  letter-spacing: 2.2px;
}

h4 {
  font-family: 'Lobster', cursive;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #5CEDD7;
}

/*#gameover {
  font-family: 'Lobster', cursive;
  visibility: hidden;
  position: absolute;
  margin: auto;
  width: auto;
  margin-top: 0px;
  margin-left: -25px;
  top: 50%;
}*/

#gameover h1 {
  font-size: 6em;
}

#new-game {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a:visited {
  text-decoration: none;
  color: #5CEDD7;
}

a:hover {
  color: #FFE545;
}

body {
  background-repeat: none;
  background: linear-gradient(90deg, #FFC870 0%, #FF039A 51%, #A60F76 75%);
}